.main-contact {
  display: flex;
  justify-content: center;
  margin: 110px 10px;
}

.contact-section1 {
  display: grid;
  background: #fff;
  border-radius: 5% 0 0 5%;
  border-right: 1px solid #707070;
}

.contact-information-box {
  display: grid;
  padding: 20px 50px 20px 50px;
}

.contact-information-box h1 {
  grid-column: 1/3;
  font-weight: 700;
  font-family: forma-djr-banner, sans-serif;
  color: black;
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact-information-box p {
  margin-left: 15px;
  color: black;
}

.info-icon {
  height: 25px;
  filter: invert(48%) sepia(73%) saturate(4779%) hue-rotate(345deg) brightness(101%) contrast(90%);
}

.contact-section2 {
  display: grid;
  background: white;
  border-radius: 0 5% 5% 0;
  padding: 20px 50px 20px 50px;
}

#contactForm {
  display: grid;
}

label {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #707070;
  margin: 20px 0 10px 0;
}

.form-error {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  color: red;
  display: none;
}

#fullname,
#email,
#subject {
  border-bottom: 1.5px solid #707070;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 300px;
}

textarea {
  max-width: 350px;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1.5px solid #707070;
}

textarea::placeholder {
  font-family: forma-djr-micro, sans-serif;
  color: #707070;
  font-weight: 400;
  font-size: 14px;
}

.submit-button {
  background-color: #f26e50e0;
  color: black;
  width: 170px;
  text-transform: uppercase;
  font-family: forma-djr-banner, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  padding: 14px 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  border-radius: 25px;
  border: none;
  text-align: center;
  box-shadow: 11px 10px 21px -5px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 11px 10px 21px -5px rgba(0, 0, 0, 0.22);
}

.submit-button:hover {
  background-color: #f253305b;
}

.messageSent {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f25430;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contact-information-box {
    grid-template-columns: 40px auto;
    padding: 30px 50px;
  }

  .contact-information-box h1 {
    font-size: 19px;
    justify-self: center;
  }

  .main-contact {
    flex-direction: column;
    margin: 50px;
  }

  .contact-section1 {
    border-radius: 5% 5% 0 0;
    border-bottom: 1px solid #707070;
    border-right: none;
  }

  .contact-section2 {
    border-radius: 0 0 5% 5%;
  }

  .info-icon {
    margin: 15px 0;
  }

  .contact-information-box p {
    margin: 15px 0;
  }

  input {
    width: auto;
    max-width: 300px;
  }

  .submit-button {
    justify-self: center;
    margin: 30px 0;
  }
}

@media (max-width: 480px) {
  .main-contact {
    margin: 50px auto;
  }

  .contact-section1 {
    width: 290px;
  }

  .contact-section2 {
    width: 290px;
  }

  .contact-information-box h1 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  #fullname,
  #email,
  #subject {
    width: unset;
  }
}
