/* Header */

header {
  display: flex;
  background-color: white;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  margin-left: 30px;
  font-family: Bevellier, Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
}

.logo-dot {
  color: #0d0d0d;
  font-size: 50px;
  font-weight: bold;
}

.nav-section {
  margin-right: 30px;
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.nav-section a {
  margin: 10px;
  letter-spacing: 1px;
}

/* Footer */

footer {
  display: grid;
  background-color: white;
  height: 250px;
  font-family: forma-djr-banner, sans-serif;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* Both */

header a,
footer a {
  color: #f25430;
}

.icon-section {
  justify-self: center;
  align-self: center;
  width: 250px;
}

.footer-icon {
  max-width: 40px;
  margin: 15px;
  filter: invert(45%) sepia(83%) saturate(3612%) hue-rotate(344deg) brightness(99%) contrast(91%);
}

footer p {
  justify-self: center;
}
