.main-search-recipe {
  min-height: 80vh;
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 40px;
}

.main-search-recipe h1,
.recipe-result-heading {
  justify-self: center;
  margin: 30px 0;
  font-size: 40px;
}

.meal-container {
  text-align: center;
}

.recipe-search h2 {
  font-weight: 700;
  font-family: forma-djr-banner, sans-serif;
  color: black;
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.recipe-result {
  display: grid;
  margin: 0 35px;
}

.recipe-result h3 {
  margin-top: 40px;
}

#recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-box {
  padding: 16px;
  font-size: 1.1rem;
  outline: 0;
  border: none;
  color: #707070;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 11px 10px 21px -5px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 11px 10px 21px -5px rgba(0, 0, 0, 0.22);
}

.search-box::placeholder {
  color: #707070;
}

.search-button {
  width: 65px;
  height: 55px;
  /* font-size: 1.8rem; */
  background-color: #f26e50e0;
  color: white;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  margin-left: -5px;
  box-shadow: 11px 10px 21px -5px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 11px 10px 21px -5px rgba(0, 0, 0, 0.22);
}

.search-button:hover {
  background-color: #f253305b;
}

.not-found {
  grid-area: 1/2;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .recipe-card {
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  #recipes {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #recipes {
    grid-template-columns: 1fr;
  }

  .main-search-recipe h1,
  .recipe-result-heading {
    font-size: 30px;
  }

  #ingredient-input {
    width: 200px;
  }
}

/* @media screen and (min-width: 768px) {
  #recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .meal-item {
    margin: 0;
  }

  .meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #recipes {
    grid-template-columns: repeat(3, 1fr);
  }
} */
