@import url(header-footer.css);
@import url(homepage.css);
@import url(recipes.css);
@import url(contact.css);

/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: #f2f0eb;
  margin: 0;
}

main {
  display: grid;
}

h1 {
  font-family: Bevellier, Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: forma-djr-banner, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
