@import url(header-footer.css);
@import url(homepage.css);
@import url(recipes.css);
@import url(contact.css);

/* Global Styles */

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: #f2f0eb;
  margin: 0;
}

main {
  display: grid;
}

a {
  text-decoration: none;
}
